
.weather-search {
    width: 70%;
    background-color: white;
    display: flex;
    justify-content: center;
    height: auto;
    margin-bottom: 20px;

    &__form {
      width: 100%;
      display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
  }
  
  &__input {
    flex-grow: 2;
    background-color: rgba($color: #f7f4e4, $alpha: 0.5);
    border: solid 2px transparent;
    padding: 1.5rem;
    
    &:focus {
      outline: none;
      border-bottom: solid 2px;
    }
  }
  
  
  &__button {
    min-width: 100px;
    flex-grow: 2;
    background-color: rgba($color: #f7f4e4, $alpha: 0.5);
    padding: 1.5rem;
    border: solid 2px transparent;
    
    &:focus {
      outline: none;
    }   
  }

  &__checkboxes {
    width: 90%;
    display: flex;
    align-items: center;
    font-size: 0.5em;
    letter-spacing: .2em;
    background-color: rgba($color: white, $alpha: 0.5);
    padding: 3px;
  }

  
  
  &__forecast {
    min-width: 220px;
    background-color: rgba($color: #f7f4e4, $alpha: 0.5);
    padding: 1.5rem;
    border: solid 1px transparent;
    outline: none;
    
    &:focus {
      outline: none;
    }
  }
}
          


@media only screen and (max-width: 600px) {
  .weather-search {
    width: 100%;
  }
}