.weather-search {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    height: auto;
    margin-bottom: 20px;

  &__form {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
  }
  
  &__input {
    min-width: 300px;
    background-color: lightgray;
    border: solid 2px transparent;
    padding: 1.5rem;
    
    &:focus {
      outline: none;
      border-bottom: solid 2px;
    }
  }
  
  
  &__button {
    min-width: 100px;
    padding: 1.5rem;
    border: solid 2px transparent;
    
    &:focus {
      outline: none;
    }
    
  }
  
  &__forecast {
    min-width: 200px;
    background-color: lightgray;
    padding: 1.5rem;
    border: solid 1px transparent;
    outline: none;

    &:focus {
      outline: none;
    }
  }
}