@import "./modules/_wrapper";
@import "./modules/_main";
@import "./modules/weather-search";
@import "./modules/display-data";
@import "./modules/header";
@import "./modules/content";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.App {
  text-align: center;
}

