@import "./modules/_wrapper";
@import "./modules/_main";
@import "./modules/weather-search";
@import "./modules/display-data";
@import "./modules/header";
@import "./modules/content";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {

}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
